<!DOCTYPE html>
<html>
<head>
    <%- include('partial/page-head.ejs', {title:'GV Admin'}) %>
    <script>
    function toggleOpen(event) {
        this.nextElementSibling.classList.toggle('show');
    }
    </script>
</head>
<body page-main='main' page-panel-left='left-nav' page-topbar='topbar' class='flush'>
    <header id='topbar'>
        <div class='container flex-row align-center justify-between'>
            <h4>Greenwich Village Delivery Service</h4>
            <div class="dropdown">
                <div class="btn btn-secondary dropdown-toggle flex-row align-center" spaced='0.5' onclick='toggleOpen.call(this,event)'>
                    <i class="fas fa-user"></i>
                    <span>Admin</span>
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/">Home</a>
                </div>
            </div>
        </div>
    </header>
    <form id='left-nav' class="side-nav align-stretch" style='min-width:15%;'>
        <input type="hidden" name="active_tab" value="<%if(tab){%><%= tab %><%}else{%>restaurants<%}%>">
        <input type="radio" class="tab-item" name="tab" value="restaurants" label="Restaurants">
        <input type="radio" class="tab-item" name="tab" value="current_deliveries" label="Current Deliveries">
        <input type="radio" class="tab-item" name="tab" value="past_deliveries" label="Completed Deliveries">
    </form>
    <main id='main' page-tabbed="left-nav" class='tab-container'>
        <div class='tab' id='restaurants'>
            <table class='container' empty-message='No Restaurant Users to Show'><% if (users) { users.forEach((r) => { %><%- include('partial/admin-user-item.ejs', {data:r}) %><% });} %></table>
        </div>
        <div class='tab' id='current_deliveries'>
            <table class='container' empty-message='No Orders to Show'><% if (orders) { orders.filter((o) => { return !o.time_delivered; }).forEach((o) => { %><%- include('partial/admin-order-item.ejs', {data:o}) %><% });} %></table>
        </div>
        <div class='tab' id='past_deliveries'>
            <table class='container' empty-message='No Orders to Show'><% if (orders) { orders.filter((o) => { return !!o.time_delivered; }).forEach((o) => { %><%- include('partial/admin-order-item.ejs', {data:o}) %><% });} %></table>
        </div>
    </main>
</body>
</html>
