<tbody>
    <tr><th><code>id</code></th><td><code><%= data.id %></code></td></tr>
    <tr><th><code>username</code></th><td><code><%= data.username %></code></td></tr>
    <tr><th><code>password</code></th><td><code><%= data.password %></code></td></tr>
    <% if (data.name) { %>
        <tr><th><code>name</code></th><td><code><%= data.name %></code></td></tr>
    <% } %>
    <% if (data.cuisine) { %>
        <tr><th><code>cuisine</code></th><td><code><%= data.cuisine %></code></td></tr>
    <% } %>
    <% if (data.address) { %>
        <tr><th><code>address</code></th><td><pre><code><%= data.address['Address'] %>
        <%= data.address['City'] %>, <%= data.address['State'] %>, <%= data.address['Zip'] %>
        </code></pre></td></tr>
    <% } %>
</tbody>