<table>
    <tr><th>Name</th><td><%= data.restaurant_name %></td></tr>
    <tr><th>Cuisine</th><td><%= data.restaurant_cuisine %></td></tr>
    <tr><th>Address</th><td><%= data.address['Address'] %></td></tr>
    <tr><th>City</th><td><%= data.address['City'] %></td></tr>
    <tr><th>State</th><td><%= data.address['State'] %></td></tr>
    <tr><th>Zip</th><td><%= data.address['Zip'] %></td></tr>
</table>